.jumbotron {
	padding: 3rem 1rem;
	background-color: #e7e7e7;
	background-image: url('images/cake1.jpg');
	object-fit: cover;
	background-size: cover;
	background-position: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.carousel {
	padding-top: 10px;
	width: 400px;
	height: 500px;
	margin: 0px auto;
}
section {
	padding-top: 5rem;
}
.card {
	margin: 20px auto;
}
container {
	display: flex;
}
